/*  
 *  General Styles
 */

 body::-webkit-scrollbar-track{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  //border-radius:10px;
  background-color:#F5F5F5;
 }

 body::-webkit-scrollbar{
  width:8px;
  height:8px;
  background-color:#F5F5F5;
 }

 body::-webkit-scrollbar-thumb{
  //border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  background-color:#616161;
 }

 a {
  color: #EF5E53;
 }

 a:hover,
 a:active,
 a:focus {
  cursor: pointer;
  text-decoration: none;
  color: #F3473B;
 }

 .fg-white {
  color: #F1F1F1 !important;
 }

 .fg-orange {
  color: #F19B4F !important;
 }

 .fg-red {
  color: #EE3224 !important;
 }

 .fg-black {
  color: #333333 !important;
 }

 .fg-dark-gray {
  color: #555555 !important;
 }

 .fg-gray {
  color: #777777 !important;
 }

 .bg-lighten-2 {
  background-color: #4db6ac !important;
 }

 .bg-red {
  background-color: #EF4B3F !important;
 } 

 .hv-red:hover {
  color: #CA2C20;
 }

 .btn-invert-red {
  color: #EE3224;
 }

 .btn-invert-red:hover,
 .btn-invert-red:focus,
 .btn-invert-red:active {
  color: #CA2C20;
 }

 .fg-black {
  color: #303030;
 }

 a.fg-orange {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: #F19B4F;
  text-decoration: none;
 }

 a.fg-orange:hover {
  color: #E4730E;
 }

 a.fg-red {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  color: #EE3224;
  text-decoration: none;
 }

 a.fg-red:hover,
 a.fg-red:focus {
  color: #CA2C20;
 }

 label {
  font-family: "Futura Book", sans-serif;
  font-size: 18px;
  font-weight: lighter !important;
 }


.btn-invert {
  background-color: inherit !important;
  border: 0 !important;
  box-shadow: none !important;
  height: auto !important;
  font-size: 24px;
  font-family: "GillSans", sans-serif;
  font-weight: lighter !important;
}

.btn-red {
  font-family: "Futura Book", sans-serif;
  padding: 2px 8px;
  background-color: #ee3224;
  color: #FFFFFF;
  font-size: 20px;
  border: none;
}

.btn-red:hover,
.btn-red:focus {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  background-color: #CA2C20;
}

.special-title-1 { 
  font-family: "Futura Heavy", sans-serif;
  color: #EE3224;
  letter-spacing: 2px;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.special-title-2 { 
  font-family: "Futura Heavy", sans-serif;
  color: #EE3224;
  letter-spacing: 3px;
  font-size: 22px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.special-title-3 { 
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  letter-spacing: 2px;
  font-size: 48px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.special-title-4 { 
  font-family: "Futura Book", sans-serif;
  color: #333;
  letter-spacing: 2px;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.special-title-5 {
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  letter-spacing: 2px;
  font-size: 6em;
  margin-top: 30%;
}

.special-title-6 {
  font-family: "Futura Heavy", sans-serif;
  color: #EE3224;
  letter-spacing: 3px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.special-title-7 {
  font-family: "Futura Heavy", sans-serif;
  color: #EE3224;
  letter-spacing: 2px;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.special-title-8 {
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  letter-spacing: 0;
  font-size: 22px;
  margin-top: 18px;
  margin-bottom: 12px;
}

.special-title-9 {
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  letter-spacing: 0;
}

.special-title-10 {
  font-family: "Futura Light", sans-serif;
  color: #333333;
  letter-spacing: 0;
  font-size: 16px;
  margin-top: 24px;
}

.special-text-1 {
  font-family: "Futura Book", sans-serif;
  color: #333;
  font-size: 16px;
}

.special-text-2 {
  font-family: "Futura Book", sans-serif;
  color: #555;
  font-size: 18px;
}

.special-text-3 {
  font-family: "Futura Book", sans-serif;
  color: #555;
  font-size: 2em;
}

.special-text-4 {
  font-family: "Futura Light", sans-serif;
  color: #555;
  font-size: 16px;
}

.special-link-1 {
  cursor: pointer;
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  font-size: 24px;
}

.special-btn {
  cursor: pointer;
  font-family: "Futura Medium", sans-serif;
  font-size: 18px;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: #333333;
  padding: 8px 22px;
}

.special-btn-small {
  font-size: 16px;
  padding: 6px 12px;
}

.special-btn:hover,
.special-btn:focus {
  transition: all 0.4s;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  text-decoration: none;
}

.special-btn-white {
  background-color: #F5F5F5;
  color: #333333;
}

.special-btn-red {
  background-color: #EF4B3F;
  color: #FFFFFF;
}

.special-btn-red:hover,
.special-btn-red:focus {
  background-color: #EE3224;
  color: #FFFFFF;
}

.special-btn-1 {
  font-size: 14px !important;
  padding: 8px 12px;
}

.special-link-1:hover,
.special-link-1:focus { 
  text-decoration: none;
  color: #CA2C20;
}

.special-link-2 {
  cursor: pointer;
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  padding-top: 2px;
  font-size: 16px;
}

.special-link-2:hover,
.special-link-2:focus {
  color: #CA2C20;
}

.special-link-3 {
  cursor: pointer;
  font-family: "Futura Medium", sans-serif;
  font-size: 18px;
  background-color: #EF4B3F;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  color: #FFFFFF;
  padding: 8px 22px;
}

.special-link-3:hover,
.special-link-3:focus {
  transition: all 0.4s;
  background-color: #EE3224;
  color: #FFFFFF;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  text-decoration: none;
}

.special-link-3.hvr-bounce-to-top:before {
  background-color: #EF4B3F;
}

.th-1 {
  font-family: "Futura Heavy", sans-serif;
  color: #555;
  letter-spacing: 4px;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 16px;
}

.thr-1 {
  font-family: "Futura Heavy", sans-serif;
  color: #EE3224;
  letter-spacing: 2px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.padding {
  padding-left: 15px;
  padding-right: 15px;
}

.special-padding-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.special-padding-2 {
  padding: 0 30px 0 30px;
}

.special-padding-3 {
  padding: 0 20px 0 20px;
}

.special-padding-4 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.special-title-panel {
  font-size: 22px;
  color: #555;
}

.space-10px {
  display: block;
  width: 100%;
  height: 10px;
  margin: auto;
}

.space-20px {
  display: block;
  width: 100%;
  height: 20px;
  margin: auto;
}

.space-30px {
  display: block;
  width: 100%;
  height: 30px;
  margin: auto;
}

.space-40px {
  display: block;
  width: 100%;
  height: 40px;
  margin: auto;
}

.space-50px {
  display: block;
  width: 100%;
  height: 50px;
  margin: auto;
}

.space-70px {
  display: block;
  width: 100%;
  height: 70px;
  margin: auto;
}

.space-100px {
  display: block;
  width: 100%;
  height: 100px;
  margin: auto;
}

.main-space {
  min-height: 520px !important;
}

.divider {
  height: 1px;
  background-color: #CCC;
  border-bottom: 1px solid #DDD;
}

.inline-block {
  display: inline-block !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.margin-center {
  display: block;
  margin: auto;
}

.top-margin {
  margin-top: 5px;
}

.bottom-margin {
  margin-bottom: 15px;
}

.margin-top-10px {
  margin-top: 10px;
}

.margin-top-15px {
  margin-top: 15px;
}
.margin-top-30px {
  margin-top: 30px;
}

.margin-bottom-15px {
  margin-bottom: 15px;
}

.special-label-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.special-label-2 {
  font-family: "Futura Heavy", sans-serif;
  letter-spacing: 3px;
  font-size: 22px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.animate-duration-20ms {
  animation-duration: 0.2s;
}

.card-panel {
  padding: 12px;
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.chip {
  margin-top: 4px;
  display: inline-block;
  height: 26px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 26px;
  padding: 0 10px;
  border-radius: 16px;
  background-color: #e4e4e4;
}

h1.title {
  font-family: "Futura Heavy", sans-serif;
  letter-spacing: 3px;
  font-size: 28px;
  margin-top: 8px;
  margin-bottom: 2px;
}

.subtitle {
  font-family: "Futura Book", sans-serif;
  font-size: 24px;
  margin-top: 4px;
}

input[type="tel"] {
  text-align: right;
}

input[type="number"] {
  text-align: right;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width: auto !important;
}

input[type="checkbox"].checkbox-1 {
  position:absolute; 
  z-index:-1000; 
  left:-1000px; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height:1px; width:1px; 
  margin:-1px; padding:0; 
  border:0;
}

input[type="checkbox"].checkbox-1 + label {
  padding-left:36px;
  height: 22px; 
  display:inline-block;
  line-height:24px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:20px;
  vertical-align:middle;
  cursor:pointer;

}

input[type="checkbox"].checkbox-1:checked + label.checkbox-label-1 {
  background-position: 0 -22px;
}

label.checkbox-label-1 {
  background-image:url(../img/btn-checkbox-2g.png);
  background-size: 22px 44px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=radio].input-radio-1,
input[type=checkbox].input-radio-1 {
 position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].input-radio-1 + label.lbl-input-radio-1, 
input[type=radio].input-radio-1 + label.lbl-input-radio-1.clr,
input[type=checkbox].input-radio-1 + label.lbl-input-radio-1, 
input[type=checkbox].input-radio-1 + label.lbl-input-radio-1.clr {
  overflow: hidden;
  padding-top:2px;
  padding-left:32px;
  height:22px; 
  display:inline-block;
  line-height:22px;
  background-repeat:no-repeat;
  background-position: 0 0;
  background-size: 22px 44px;
  font-size:16px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=radio].input-radio-1:checked + label.lbl-input-radio-1, 
input[type=radio].input-radio-1 + label.lbl-input-radio-1.chk,
input[type=checkbox].input-radio-1:checked + label.lbl-input-radio-1, 
input[type=checkbox].input-radio-1 + label.lbl-input-radio-1.chk {
  background-position: 0 -23px;
}

label.lbl-input-radio-1 {
  background-image:url(../img/input-radio-1.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-rows label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-rows label.label-span-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.register-icon-unlock {
  font-size: 16px;
}