/*  
 *  Styles Required
 */


@media (min-width: 768px) {



}

/* Validation errors styles */

.help-block {
  color: red;
  font-family: "Segoe UI Light", sans-serif;
  font-size: 14px;
}

.has-error {
  border-color: red;
}