/*  
 *  For Tablets
 */

.app-navbar .navbar-right {
  margin-right: 25px;
}

.profile-header {
  background-image: url("../img/profile-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  webkit-box-shadow:  inset 0px -52px 52px 0px rgba(25, 25, 25, 0.7);
  -moz-box-shadow:    inset 0px -52px 52px 0px rgba(25, 25, 25, 0.7);
  -ms-box-shadow:     inset 0px -52px 52px 0px rgba(25, 25, 25, 0.7);
  -o-box-shadow:      inset 0px -52px 52px 0px rgba(25, 25, 25, 0.7);
  box-shadow:         inset 0px -52px 52px 0px rgba(25, 25, 25, 0.7);
  min-height: 200px;
}

.profile-logo {
  background-color: #F1F1F1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 160px !important;
  height: 160px !important;
  margin: auto;
  margin-top: 20px;
}

.profile-header-container {
  padding-top: 72px;
  padding-left: 0;
  padding-right: 0;
}

.profile-header-container h1,
.profile-header-container h2,
.profile-header-container h3,
.profile-header-container h4,
.profile-header-container h5,
.profile-header-container h6 {
  font-family: "Futura Heavy", sans-serif;
  text-shadow: 1px 1px 1px #333;
  color: #FFFFFF;
}

.profile-header-container h3,
.profile-header-container h4,
.profile-header-container h5,
.profile-header-container h6 {
  font-family: "Futura Book", sans-serif;
}

.profile-header-container a {
  font-family: "Futura Book", sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 1px #333;
  color: #FFF;
  text-decoration: none;
  margin-top: 14px;
}

.profile-name {
  font-size: 36px;
}

.profile-features h3 {
  margin-top: 8px;
}

.profile-features h4 {
  margin-top: 14px;
}

.profile-contact,
.profile-description,
.profile-details,
.profile-commercial {
  font-family: "Futura Light", sans-serif;
  font-size: 17px;
}

.profile-contact h3,
.profile-details h3,
.profile-commercial h3 {
  font-family: "Futura Book", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 17px;
}

.profile-description p {
  font-family: "Futura Light", sans-serif;
  font-size: 17px;
  line-height: 160%;
}

.profile-nav-stacked > li + li {
  margin-top: 0;
}

.profile-nav-stacked li {
  border-top: 1px solid #DDD;
}

.profile-nav-stacked li:first-child {
  border-top: none;
}

.profile-nav-stacked li a {
  font-family: "Futura Book", sans-serif;
  font-size: 18px;
  color: #EE3224;
}

.profile-nav-stacked > li > a:hover, 
.profile-nav-stacked > li > a:focus {
  background-color: inherit;
}

.profile-nav-stacked > li.active > a, 
.profile-nav-stacked > li.active > a:hover, 
.profile-nav-stacked > li.active > a:focus {
  font-family: "Futura Heavy", sans-serif;
  font-size: 20px;
  color: #EE3224;
  background-color: inherit;
}

.profile-social span.profile-icon {
  cursor: pointer;
  margin-left: 5px;
  font-size: 30px;
}

.profile-social span.profile-icon:first-child {
  margin-left: 0;
}

.profile-icon-fb:hover {
  color: #3a5795;
}

.profile-icon-tw:hover {
  color: #1da1f2;
}

.profile-icon-in:hover {
  color: #006fa6;
}

.navbar-search {
  /*width: 48%;*/
  margin-top: 13px;
}

.navbar-search-form {
  width: 100%;
}

.navbar-search-input {
  width: 500px !important;
}

.search-input-group input {
  height: 40px;
  font-family: "Futura Light", arial, sans-serif;
  font-size: 20px;
  border: 1px solid #D5D5D5;
}

.search-input-group button {
  height: 40px;
  box-shadow: none;
}

.search-input-group button:hover {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.search-input-group input:focus,
.search-input-group input:active,
.search-input-group button:focus,
.search-input-group button:active {
  transition: all .4s;
  border: 1px solid #EF4B3F;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.search-lbl {
  font-family: "Futura Light", sans-serif;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.search-filters .dropdown button.dropdown-toggle {
  transition: all .4s;
  border: 1px solid #D5D5D5;
}

.search-filters .dropdown button.dropdown-toggle:active,
.search-filters .dropdown button.dropdown-toggle:hover {
  transition: all .2s;
  box-shadow: none;
  -webkit-box-shadow: none;
  background-color: #F7F7F7;
  border-color: #CCC;
}

.search-filters .dropdown .dropdown-header {
  padding: 4px 12px;
}

.search-filters .dropdown .dropdown-header .dropdown-options {
  margin-top: 0;
  margin-bottom: 7px;
}

.search-filters .dropdown .dropdown-menu {
  top: 0%;
}

.search-filters .dropdown .dropdown-body {
  max-height: 300px;
  overflow: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.search-filters .dropdown .dropdown-body::-webkit-scrollbar-track{
  //-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  background-color:#F5F5F5;
}

.search-filters .dropdown .dropdown-body::-webkit-scrollbar{
  width:10px;
  height:14px;
  background-color:#F5F5F5;
}

.search-filters .dropdown .dropdown-body::-webkit-scrollbar-thumb{
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  background-color:#777777;
}

.search-filters .dropdown .dropdown-body li label {
  width: 100%;
  font-family: "Futura Book", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #555555;
}

.search-filters .dropdown .dropdown-footer {
  padding: 4px 12px;
}

.enterprise-logo {
  background-color: #F1F1F1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 160px !important;
  height: 160px !important;
  margin: auto;
  margin-top: 10px;
}

.enterprise-description {
  max-height: 65px;
  overflow: hidden;
}

.enterprise .data {
  font-family: "Futura Light", sans-serif;
  font-size: 14px;
  color: #555555;
  font-weight: bold !important;
  margin-bottom: 5px;
}

.data-container .data-box {
  padding: 15px;
  border-bottom: 1px solid #CCC;
}

.data-container .data-box:last-child {
  border-bottom: none;
}

.data-container .data-box .data-title {
  margin: 10px auto 15px auto;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: "Futura Heavy", sans-serif;
  color: #EF4B3F;
}

.data-container .data-box .data-label {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Futura Light", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.data-container .data-box .data-content {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Futura Light", sans-serif;
  color: #555555;
  font-size: 16px;
}

.main-search-header {
  font-family: "Futura Book", sans-serif;
  color: #EE3224;
  letter-spacing: 0;
  margin-top: 160px;
  font-size: 32px;
}

.main-search {
  width: 80%;
  margin: 30px auto 10px auto;
}

.main-search input,
.main-search button {
  height: 46px;
}